@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* header */
header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 28px;
    position: fixed;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    padding: 3em;
}

header a {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 33px;
    color: white;
    text-decoration: none;
}

header nav a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    
}

header nav a:hover {
    color: red;
}

/* Index - Banner */
main article h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 85px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 20%;
    margin-top: 550px;
}

main article h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 27%;
    margin-top: 660px;
    margin-bottom: 675px;
}

main article img{
    margin-bottom: 3em;
    float: none;
    margin-left: 0%;
}

/* Index - Podcast speler */
main article h3 {
    display: none;
}

article .podcast {
    background: linear-gradient(90deg, rgb(193, 55, 51) 0%, rgb(193, 55, 51) 25%, rgb(149, 86, 68) 75%, black 100%);
    height: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 15.5em;
    margin-right: 15.5em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.podcast img {
    width: 300px;
    height: 300px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    float: left;
}

.podcast h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 1em 5em 0em 1em;
}

.podcast p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
    display: flex;
    width: 55%;
    justify-content: left;
    padding: 1em 0em 0em 1.5em;
}

.podcast a {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

main p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: white;
}

main p {
    display: flex;
    justify-content: center;
    padding: 0em 16em 0em 16em;
    text-align: center;
}

main a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    transition: color 0.5s;
    display: flex;
    justify-content: center;
    padding: 1em 0em 0em 0em;
}

main a:hover {
    color: red;
}

main article p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

figure {
    position: static;
    margin: 0;
    padding-top: 4.5%;
    padding-left: 34%;
}

/* Afleveringen/Over ons - Banner */
main div h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2em 0em 0em 0em;
    margin-bottom: 10px;
}

main div h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 5px solid red;
    padding-bottom: 0.5em;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0% {
        width: 0px;
        padding-bottom: 1.5em;
    }
    100% {
        width: 100%;
    }
}

/* Afleveringen - Afleveringen */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 10em 5em 10em;
}

main section h3 {
    display: none;
}

section article div {
    background-color: white;
    border-radius: 2px;
    padding-bottom: 1em;
    margin: 2em;
    width: 270px;
}

section article img {
    width: 270px;
    height: 270px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 0em;
}

section article h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    padding: 0.5em 1.5em 0em 1.5em;
    width: 16em;
}

section article p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 1em 1em 1em 1.5em;
    width: 18.5em;
    text-align: left;
    color: black;
}

section article a {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: rgb(250, 61, 28);
    padding-left: 1.5em;
    justify-content: left;
}

/* Over Ons */
main h3 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
}

main h3 {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

main div p {
    display: flex;
    text-align: left;
    padding: 1em 0em 0em 1.5em;
    margin-right: 18em;
    margin-top: 0.5em;
}

main img {
    float: left;
    margin-left: 15.5em;
}

.informatie {
    border-radius: 2px;
    background: linear-gradient(90deg, rgb(193, 55, 51) 0%, rgb(193, 55, 51) 25%, rgb(149, 86, 68) 75%, black 100%);
    height: 180px;
    margin-top: 85px;
    margin-bottom: 75px;
    margin-left: 15.5em;
    margin-right: 15.5em;
}

.informatie h3 {
    display: flex;
    justify-content: left;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.informatie p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    width: 90%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 0em 0em 0em 2em;
  }

video {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* Footer */
footer {
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

footer nav a:hover {
    color: red;
}

footer li {
    display: inline;
    padding: 3em;
}

footer address {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
}

footer address a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.5s;
}

footer address a:hover {
    color: red;
}

footer p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

/* Bronnen */
main .bronnen a {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

main .bronnen li {
    display: flex;
    justify-content: left;
}
main .bronnen ul {
    text-decoration: none;
}

.bronnen {
    display: flex;
    justify-content: center;
    margin-bottom: 8em;
    transition: color 0.5s;
}

.bronnen :hover {
    color: red;
}